.App {
    text-align: center;
}

.App-logo {
    height: 10vh;
    float: left;
}

.App-header {
    background-color: #b7af9c;
    padding: 20px;
    color: white;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 500;
}

.App-title {
    font-size: 1.5em;
    margin-left: 15px;
    float: left;
    color: white;
}

.App-intro {
    font-size: large;
}