.searchBar {
    width: 30%;
    padding: 5px 5px;
    margin: 10px 15px 10px 10px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 0;
}

.search-div {
    padding: 10px;
    background-color: #3f4957;
    border-left: 0.5px solid #ddd;
    border-right: 0.5px solid #ddd;
    color: white;
}